<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294163806240-6ith7pearknhknpbd3lleqe0o6rm49jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294163806240-6ith7pearknhknpbd3lleqe0o6rm49jb</string>
	<key>API_KEY</key>
	<string>AIzaSyBDsy8hmL4QUwXkt2FA26jGqUVdRDKzQoA</string>
	<key>GCM_SENDER_ID</key>
	<string>294163806240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geonsang.myFlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b9022</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b9022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294163806240:ios:e9c5b00c212ae59149e445</string>
</dict>
</plist>